
.wrapper {
  width:90%;
  margin: 0 auto;
  padding-top: 50px;
}

#rooms-container {
  display: grid;                           
  grid-template-columns: repeat(5, max(200px));   
  grid-auto-rows: 200px;
  grid-gap: 20px;
}

.room_item-wrapper {
  display:flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
  border-radius: 2px;
}

.room_item-title {
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}

.room_item-button {
  margin: 35px auto 0;
}

#room-title {
  margin: 0;
}

.game-wrapper {
  display:flex;
}

#game-left {
  flex-basis: 30%;
}

#game-right {
  flex: 1 1 0;
}

.game-field {
  width:500px;
  height:450px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;

  position: relative;
}

.game_user-title {
  font-size: 20px;
}

.game_user-progress {
  margin: 10px 0;
  width:200px;
  height:25px;
  border: 1px solid black;
}

.game_user-progress-real {
  background-color: green;
  height: 25px;
  width:0%;
}

.game-start-button {
  font-size: 36px;
  text-transform: capitalize;
}
.game-start-button {
  font-size: 36px;
  text-transform: capitalize;
}
.game-field-document {
  font-size: 24px;
}

.game-field-document span {
  background-color: green;
  color:white;
}

.game-field-timer {
  position: absolute;
  top:10px;
  right:10px;
  font-size: 16px;
}